<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'partials/head.html' %}
  <title>VoteX</title>
</head>

<body>

  {% include 'partials/navbar.html' %}


  <div class="main_contant d-flex justify-content-center ">
    <div class="signin_page-container d-flex w-30 flex-column  justify-content-center">
      <form class="  flex-column ">
        <h3 class="text-center">Sign-In Now</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-info fs-7 px-4">Login Now</button>
      </form>
      <span class="text-center my-2">Dont't have any VoteX Account</span>
      <a href="/signup">

        <button type="submit" class="btn btn-info fs-7 blur w-100">Sign Up Now</button>
      </a>


    </div>


      


    

  </div>



</body>

</html>